@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 9% 97%;
    --foreground: 30 6% 10%;
    --card: 60 9% 97%;
    --card-foreground: 30 6% 10%;
    --popover: 60 9% 97%;
    --popover-foreground: 30 6% 10%;
    --primary: 24 87% 41%;
    --primary-foreground: 60 9% 97%;
    --secondary: 50 7% 88%;
    --secondary-foreground: 30 6% 10%;
    --muted: 50 7% 88%;
    --muted-foreground: 30 4% 51%;
    --accent: 50 7% 88%;
    --accent-foreground: 30 6% 10%;
    --destructive: 6 72% 43%;
    --destructive-foreground: 60 9% 97%;
    --border: 50 7% 78%;
    --input: 50 7% 78%;
    --ring: 24 87% 41%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 30 6% 10%;
    --foreground: 60 9% 97%;
    --card: 30 5% 13%;
    --card-foreground: 60 9% 97%;
    --popover: 30 5% 13%;
    --popover-foreground: 60 9% 97%;
    --primary: 24 87% 41%;
    --primary-foreground: 60 9% 97%;
    --secondary: 30 4% 22%;
    --secondary-foreground: 60 9% 97%;
    --muted: 30 4% 22%;
    --muted-foreground: 30 4% 51%;
    --accent: 30 4% 22%;
    --accent-foreground: 60 9% 97%;
    --destructive: 6 72% 43%;
    --destructive-foreground: 60 9% 97%;
    --border: 30 4% 32%;
    --input: 30 4% 32%;
    --ring: 24 87% 41%;
  }
}
